.idea/*
/.idea/*


.env
**/logs

**__pycache__**
t1-data-pipeline/airflow/logs/*
t1-data-pipeline/airflow/plugins/*

t2-database/postgres-data
t2-database/postgres-data/*

t4-charts-apis/covid-dashboard-ng/.angular